#game-board {
  background-color: red;
  height: 550px;
}

#road1 {
  display: inline-block;
  position: absolute;
  height: 150px;
  width: 100%;
  margin-top: 350px;

  background-color: black;
}

#road2 {
  display: inline-block;
  position: absolute;
  height: 150px;
  width: 100%;
  margin-top: 510px;

  background-color: black;
}

hr {
  position: absolute;
  border:none;
  border-top:10px dashed yellow;
  color:black;
  background-color:black;
  height:10px;
  width:100%;
  margin-top: 500px
}

.car {
  display: inline-block;
  height: 140px;
  width: 390px;
  vertical-align: top;
}

#car1 {
  display: inline-block;
  background-color: blue;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  overflow: auto;

}

#car2 {
  display: inline-block;
  background-color: white;
  position: absolute;
  margin-top: 140px;
  margin-left: 0px;
  overflow: auto;
}

