#game-board {
  background-color: red;
  height: 550px;
  width: 100%;
}

#score-board {
  padding: 10px;
  position: absolute;
  background-color: black;
  border-radius: 5%;
  color: red;
  font-weight: strong;
  font-size: 50px;
  height: 250px;
  width: 500px;
  margin: 30px 30%;
  text-align: center;
}

.players {
  display: inline-block;
  margin: 0px;
  font-size: 30px;
  text-align: center;
  float: center;
  padding: 0;
}

.score  {
    display: block;
    color: yellow;
}

#player1 {
  margin-right: 150px;
}

#road1 {
  display: inline-block;
  position: absolute;
  height: 150px;
  width: 100%;
  margin-top: 350px;
  background-color: black;
}

#road2 {
  display: inline-block;
  position: absolute;
  height: 150px;
  width: 100%;
  margin-top: 510px;
  background-color: black;
}

hr {
  position: absolute;
  border:none;
  border-top:10px dashed yellow;
  color:black;
  background-color:black;
  height:10px;
  width:100%;
  margin-top: 500px
}

.car {
  display: inline-block;
  height: 130px;
  width: 130px;
  vertical-align: top;
}

#car1 {
  display: inline-block;
  background-color: blue;
  position: absolute;
  margin-top: 360px;
  margin-left: 50px;
  overflow: auto;

}

#car2 {
  display: inline-block;
  background-color: white;
  position: absolute;
  margin-top: 520px;
  margin-left: 50px;
  overflow: auto;
}

